.profile_outline {
    margin: 5rem 2rem 1rem 2rem;
}

.profile_welcome_banner {
    padding: 0rem 0rem 0rem 1rem;
    font-size: x-large;
    font-weight: medium;
}

.profile__cal_flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.timeline__floating_dd {
    color: royalblue;
    font-weight: 450;
}

.timeline__official_dd {
    color: rgb(255, 61, 47);
    font-weight: 550;
}