.new-essay__card {
    border: 1px solid #bdbdb1;
    border-radius: 5px;
    max-width: 14rem;
    text-align: center;
    padding: 1rem .2rem;
    background: rgba(246, 246, 246, .8);
    justify-self: center;
    margin: 5rem 0rem 0rem 2rem;
}